body {
  margin: 0;
  padding: 0; }

header {
  background-image: url(../images/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  border-width: 2px;
  border-color: #3d2514; }

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; }

.navbar-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 31px;
  letter-spacing: 3px; }

.navbar {
  letter-spacing: 2px;
  list-style-type: none;
  display: flex; }

.tab1 {
  font-size: 21px;
  font-family: "Bebas Neue";
  color: #3d2514;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-right: 50px; }

.tab2 {
  font-size: 21px;
  font-family: "Bebas Neue";
  color: #3d2514;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-right: 50px; }

.tab3 {
  font-size: 21px;
  font-family: "Bebas Neue";
  color: #3d2514;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-right: 50px; }

.tab4 {
  font-size: 21px;
  font-family: "Bebas Neue";
  color: #3d2514;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-right: 50px; }

a:hover {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  transition: 0.5s linear;
  background-color: #fff; }

a:active {
  color: green;
  background-color: yellowgreen; }

.main-header .phone {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 16.667px;
  font-family: "Montserrat";
  color: #3d2514;
  font-weight: bold;
  text-align: right;
  padding-right: 40px; }

.header-banner {
  display: flex; }

.price-area {
  background: #bf2222;
  display: inline-block;
  width: 170px;
  height: 170px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 9px;
  border: #fff dashed; }

.price-main p {
  font-size: 50px;
  margin-top: 26px;
  color: #fff; }

.price-main small {
  font-size: 25px; }

.price-main span {
  letter-spacing: 5px;
  font-family: "Bebas Neue"; }

.header-box-1 {
  flex: 1 1 50%;
  padding-left: 20px; }

.header-box-2 {
  flex: 1 1 50%;
  position: relative; }

.header-box-1 p {
  border: 2px solid #3d2514;
  border: dashed;
  width: fit-content;
  padding: 7px;
  font-family: "Bebas Neue";
  letter-spacing: 3px;
  margin-top: 100px; }

.header-box-1 h1 {
  font-size: 100px;
  font-family: "AlfaSlabOne";
  color: #3d2514;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 5px 5px 5px #fee8bc;
  margin-top: 0px; }

.header-box-1 h2 {
  font-size: 50px;
  font-family: "AlfaSlabOne";
  color: #3d2514;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 5px 5px 5px #fee8bc;
  margin-top: -69px; }

.header-box-2 img {
  padding-top: 40px; }

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px; }

.box {
  display: flex;
  height: 560px; }

.box-1 {
  flex: 1 1 50%;
  padding-left: 55px;
  padding-top: 70px;
  position: relative; }

.box-1 h4 {
  font-size: 25px;
  font-family: "Bebas Neue";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 60px;
  left: 85px; }

.box .box-1 h3 {
  font-family: "Bebas Neue";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  position: absolute;
  top: 80px;
  left: 85px; }

.box-right {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  padding-top: 20px; }

.box-2 {
  flex: 1 1 50%;
  position: relative; }

.box-3 {
  flex: 1 1 50%;
  position: relative;
  padding-top: 17px; }

.box-2 h4 {
  font-size: 25px;
  font-family: "Bebas Neue";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 30px; }

.box-3 h4 {
  font-size: 25px;
  font-family: "Bebas Neue";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  left: 30px; }

.box-2 h3 {
  font-family: "Bebas Neue";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  position: absolute;
  top: 60px;
  left: 30px; }

.box-3 h3 {
  font-family: "Bebas Neue";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 30px; }

.box-2 img {
  padding-top: 50px; }

.always-tasty-box {
  display: inline block; }

.always-tasty h6 {
  font-family: "Bebas Neue";
  background-color: #ffc045;
  text-align: center;
  font-size: 20px;
  width: 185px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  position: relative;
  left: 600px; }

.always-tasty h1 {
  font-size: 50px;
  font-family: "AlfaSlabOne";
  color: #3d2514;
  text-transform: uppercase;
  line-height: 0.75;
  text-align: center; }

.always-tasty p {
  font-size: 16.667px;
  font-family: "Montserrat";
  color: #3d2514;
  line-height: 1.75;
  text-align: center; }

.box-order {
  display: flex;
  margin-top: 50px; }

.order-1 {
  margin-top: 35px;
  flex: 1 1 33%; }

.order-2 {
  flex: 1 1 33%; }

.order-3 {
  margin-top: 35px;
  flex: 1 1 33%; }

.order-1 img {
  display: block;
  margin: 0 auto; }

.order-2 img {
  display: block;
  margin: 0 auto; }

.order-3 img {
  display: block;
  margin: 0 auto; }

.order-1 h2 {
  text-align: center;
  line-height: 65px;
  font-size: 37.5px;
  font-family: "Bebas Neue";
  color: #3d2514;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1; }

.order-2 h2 {
  text-align: center;
  line-height: 65px;
  font-size: 37.5px;
  font-family: "Bebas Neue";
  color: #3d2514;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1; }

.order-3 h2 {
  text-align: center;
  line-height: 65px;
  font-size: 37.5px;
  font-family: "Bebas Neue";
  color: #3d2514;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1; }

.order-1 p {
  font-size: 16.667px;
  font-family: "Montserrat";
  color: #3d2514;
  text-align: center; }

.order-2 p {
  font-size: 16.667px;
  font-family: "Montserrat";
  color: #3d2514;
  text-align: center; }

.order-3 p {
  font-size: 16.667px;
  font-family: "Montserrat";
  color: #3d2514;
  text-align: center; }

.button-1 {
  display: flex;
  justify-content: center;
  align-items: center; }

.button-1 button {
  background: #bf2222;
  width: 200px;
  height: 60px;
  opacity: 0.6s;
  transition: 0.5s;
  color: #ffff; }
